<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>Home page</title>
</head>
<body>
        <div class="nav row ">
            <div class="col mt-2"><a class="nav-link  btn btn-primary"href="trip">trip</a></div>
            <div class="col mt-2"><a class="nav-link btn btn-primary" href="timespan">timespan</a></div>
            <div class="col mt-2"><a class="nav-link btn btn-primary" href="sum_entire_trip">sum_entire_trip</a></div>
            <div class="col mt-2"><a class="nav-link btn btn-primary" href="avg_entire_trip">avg_entire_trip</a></div>
            <div class="col mt-2"><a class="nav-link btn btn-primary" href="boat_avg">boat_avg</a></div>
            <div class="col mt-2"><a class="nav-link btn btn-primary" href="trip_sensors">trip_sensors</a>
        </div>
        <!-- <form action="" method="POST">
            {% csrf_token %}
            <select name="select">
                <option value="">--select query data--</option>
                <option value="trip">trip</option>
                <option value="timespan">timespan</option>
                <option value="sum_entire_trip">sum_entire_trip</option>
                <option value="avg_entire_trip">avg_entire_trip</option>
                <option value="boat_avg">boat_avg</option>
                <option value="trip_sensors">trip_sensors</option>
            </select>
            <input type="submit" value="submit">
        </form> -->
</body>
</html>