{% extends 'base.html' %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!-- js jQuery datetime picker CDN -->
<!-- <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"/> -->
<!-- css bootstrap datatable CDN -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<!-- js datatable CDN -->
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"> -->
<!-- jQuery CDN -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
<!-- js datatable CDN -->
<!-- <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script> -->
<!-- js bootstrap datatable CDN -->
<!-- <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap.min.js"></script> -->
<!-- js jQuery datetime picker CDN -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script> -->
<!-- <title>Document</title> -->
<!-- </head> -->
<!-- <body> -->
{% block heading %}
<div class="container-fluid justify-content-center">
  <h1>#1 From a given trip, give me all the data for "Sensor X" over time</h1>
  <div style="margin-bottom: 10px">
    <a
      href="{{request.path}}?export=True{% if request.GET.sensor %}&sensor={{request.GET.sensor}}&trip_id={{request.GET.trip_id}}&from_time={{request.GET.from_time}}&to_time={{request.GET.to_time}}{% endif %}"
      class="btn btn-sm btn-success"
      >Export to CSV</a
    >
    <!-- <a href="{{request.path}}?export=True" class="btn btn-sm btn-success">Export to CSV</a> -->
  </div>
  <div class="form" style="margin-bottom: 10px">
    <form action="">
      <!-- {% csrf_token %} -->
      <input
        type="text"
        class="datetimepicker text-center"
        name="from_time"
        placeholder="from_time"
        value=""
      />
      <input
        type="text"
        class="datetimepicker text-center"
        name="to_time"
        placeholder="to_time"
        value=""
      />
      <input
        type="text"
        class="text-center"
        name="trip_id"
        placeholder="trip_id"
        value=""
      />
      <select id="categoryFilter" name="sensor">
        <option>--Sensor Name--</option>
        <option value="AAC">AAC</option>
        <option value="GPS">GPS</option>
        <option value="GYRO">GYRO</option>
        <option value="MAG">MAG</option>
        <option value="UACC">UACC</option>
      </select>
      <input type="submit" value="submit" />
    </form>
  </div>
  {% endblock %} {% block content %}
  <table
    id="mytable"
    class="table table-striped table-bordered"
    style="width: 100%"
  >
    <thead>
      <tr>
        <th scope="col">sensorName</th>
        <th scope="col">dataPoints</th>
        <th scope="col">dateTime</th>
        <th scope="col">tripId</th>
      </tr>
    </thead>
    <tbody>
      {% for d in data %}
      <tr>
        <th>{{d.sensorName}}</th>
        <td>{{d.dataPoints}}</td>
        <td>{{d.dateTime}}</td>
        <td>{{d.tripId}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
<!-- <script>
      $(document).ready(function () {
        $('#mytable').DataTable();
      });
      $(".datetimepicker").each(function () {
        $(this).datetimepicker();
      });
    </script> -->
<!-- </body>
</html> -->
