<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if data %}
    {% for i in data %}

    {% autoescape on %}
    {{i.name|safe}}
    {% endautoescape %}
    
    <li style="color:{% cycle 'red' 'green' 'blue' %}";>
    {{i.rool_number}}

    {% if i.age < 21 %}
    <h1>{% autoescape off %}
        {{i.name}}
        {% endautoescape %}</h1>
    {% endif %}

    {{i.email}}
    {{i.mobile}}</li>

    {% if i.branch is i.branch %} <!--'is' operator checking the object to object commparision-->
    <h1>{{i.branch}}</h1>
    {% endif %}


    {% empty %}
    <h1><i>Data is not available</i></h1>

    {% endfor %}

    {% else %}
    <h1>No data is available please check onces</h1>

    {% endif %}
    {% if age > 21 %}
    <h1>those are B.tech students</h1>
    {% endif %}
</body>
</html>