<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in data %}
    {% autoescape off %}
    {{i.name}}
    {% endautoescape %}
    <li>{{i.rool_number}}</li>
    <li>{{i.age}}</li>
    <li>{{i.email}}</li>
    <li>{{i.mobile}}</li>
    {% comment "branch" %}
    <li>{{i.branch}}</li>
    {% endcomment %}
    {% endfor %}
</body>
</html>