<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>Home Page</h1>
    {% if request.COOKIES.email %}
    <h3>you are logged in :{{request.COOKIES.email}}</h3>
    {% else %}
    <h3>you are not logged in </h3>
    <a href="{% url 'login' %}" class="btn btn-primary">login </a>
    {% endif %}
</body>
</html>