label {
    font-weight: 600;
    color: #1dcab8;
}
body {
  background: #f1f1f1;
}
.box8{
  box-shadow: 0px 0px 5px 1px #e6d8d8;
}
.mx-t3{
  margin-top: -3rem;
}
.errorlist{
    padding-left: 0px;
    color: red;
    list-style: none;
}

.btn-block {
    margin-left: 190px;
}
.change_email{
  text-align: right;
}