<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Data</title>
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date Of Birth</th>
          <th>Mobile</th>
          <th>Area</th>
          <th>Days</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        {% for i in data %}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.date_of_birth}}</td>
          <td>{{i.mobile}}</td>
          <td>{{i.area}}</td>
          <td>{{i.days}}</td>
          <td>{{i.salary}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
